@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.draggable-item {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ccc;
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid #999;
    border-radius: 3px;
    user-select: none;
}
.draggable-item2 {
    top: 10px;
    left: 400px;
}
.cursor-pointer {
    cursor: pointer
}