@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.snippet-content {
    height: 200px;
    overflow: auto;
    padding: 10px;
    background: #fff;
    border:1px solid #999;
    border-radius: 3px;
    background: #000;
    color: #fff;
}
.snippet-content.auto-height {
    height: auto;
}
details pre {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    color: #fff;
    overflow: visible;
}
details {
    margin-bottom: 10px;
}
details summary {
    outline: none;
    cursor: pointer;
}
.snippet-holder {
    position: relative;
}
.snippet-holder .console-features {
    position: absolute;
    top: -23px;
    right: 10px;
    background: #000;
    padding: 3px 10px;
    color: #fff;
    right: 0;
    cursor: pointer;
}
.console-features>span {
    margin: 0 10px ;
}